<form class="form" id="writingToggleForm">
  <div class="switch-field">
    <!--   <div class="switch-title">Display Type</div> -->
    <input type="radio" id="switch_newsletter" name="switch" value="no" data-st-contentid="#digests"/>
    <label for="switch_newsletter">Digests</label>
    <input type="radio" id="switch_news" name="switch" value="yes" checked data-st-contentid="#briefs"/>
    <label for="switch_news">Briefs</label>
    <input type="radio" id="switch_editorials" name="switch" value="no" data-st-contentid="#editorials"/>
    <label for="switch_editorials">Editorials</label>
  </div>
</form>
