<nav class="navbar navbar-expand-lg navbar-light bg-white flex-column flex-md-row bd-navbar fixed-top" id="main_nav">
  
  <div class="container">

    <a class="navbar-brand mr-0 mr-md-2 text-black d-flex align-items-center" href="{{site.baseurl}}/" aria-label="Bootstrap">

    <img class="logo mr-2" src="{{site.baseurl}}/assets/img/logo.webp" alt="{{site.title}}"> 

    <div class="site-title">
    <span class="d-block site-name">Skynet Today</span>
    <span class="descr font1 small">Putting AI News In Perspective</span>
    </div>

    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">

      <ul class="navbar-nav ml-auto">
      
      
      <li class="nav-item">
      <a class="nav-link" href="{{site.baseurl}}/about">About</a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Articles</a>
        <div class="dropdown-menu">
        <a class="dropdown-item" href="{{site.baseurl}}/#allposts">All </a>
        {% assign categories_list = site.categories %}
        {% if categories_list.first[0] == null %}
        {% for category in categories_list %}
        {% if category != "digests" %}
        <a class="dropdown-item" href="{{site.baseurl}}/categories/{{ category }}">{{ category | capitalize }} </a>
        {% endif %}
        {% endfor %}
        {% else %}
        {% for category in categories_list %}
        {% if category[0] != "digests" and category[0] != "podcast" %}
        <a class="dropdown-item"  href="{{site.baseurl}}/categories/{{ category[0] | downcase }}">{{ category[0] | capitalize }} </a>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% assign categories_list = nil %} 
        <br>
        <a class="dropdown-item" href="{{site.baseurl}}/tags">By Topics</a>       
        <a class="dropdown-item" href="{{site.baseurl}}/authors">By Authors</a> 
        </div>
      </li>
      
      <li class="nav-item">
      <a class="nav-link" href="https://lastweekin.ai/">Newsletter</a>
      </li>
      
      <li class="nav-item">
      <a class="nav-link" href="{{site.baseurl}}/podcast">Podcast</a>
      </li>

      <li class="nav-item">
      <a class="nav-link" href="{{site.baseurl}}/subscribe">Subscribe</a>
      </li>

      <li class="nav-item">
      <a class="nav-link" href="{{site.baseurl}}/contribute">Contribute</a>
      </li>     

      <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/search"><img alt="search" height="17" src="{{site.baseurl}}/assets/img/icons/search.svg"></a>
      </li>

      </ul> 

    </div>

  </div>
</nav>
