

<div class="navigation-wrapper">
	<nav role="navigation" id="site-nav" class="animated drop">
	    <ul>
      {% for link in site.data.navigation %}
		    {% if link.url contains 'http' or link.url contains 'mailto' %}
		        {% assign domain = '' %}
		        {% else %}
		        {% assign domain = site.url %}
		    {% endif %}
		    
		    {% if link.title contains 'Search'%}
		          <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}><i class="fa fa-search" title="Search"></i></a></li>
		        {% else %}
		          <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
		    {% endif %}

		  {% endfor %}
	    </ul>
	</nav>
</div><!-- /.navigation-wrapper -->

{% include browser-upgrade.html %}


