<div class="page-meta mr-4 small">

    <h6 class="d-none d-md-block mt-2 lh14">{{page.title}}</h6>
    
    <div class="text-muted">
    <span class="page-date date published">               
    <time datetime="{{ page.date | date_to_xmlschema }}">
    {{ page.date | date: "%B %d, %Y" }}
    </time>
    </span>
    {% if page.modified %}
    <span class="page-date date modified">
    <time datetime="{{ page.modified }}">
    {{ page.modified | date: "%B %d, %Y" }}
    </time>
    </span>
    {% endif %}
    </div>


    {% if page.author %}
    <hr>
    {% if page.author.first %}
    {% for a in page.author %}
    {% assign author = site.data.authors[a] %}
    {% include sidebar-author.html %}
    {% endfor %}
    {% else %}
    {% assign author = site.data.authors[page.author] %}
    {% include sidebar-author.html %}
    {% endif %}
    {% endif %}

    {% if site.owner.google.ad-client and site.owner.google.ad-slot %}
    {% include ad-sidebar.html %}
    {% endif %}
    
    
<!--    {% if site.owner.disqus-shortname and page.comments or site.comments %}
    <span class="page-comments d-none d-md-block mt-2">
    <img width="21px" class="mr-1" src="{{site.baseurl}}/assets/img/icons/comments.svg"> <a class="text-muted" href="#disqus_thread">Comment</a>
    </span>
    {% endif %}
-->   

</div>
