<footer class="page-meta">
    {% if page.author %}
        {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
    {% endif %}
    {% if page.editor %}
        {% assign editor = site.data.authors[page.editor] %}{% else %}{% assign editor = blank %}
    {% endif %}
    {% if author.avatar contains 'http' %}
        <img src="{{ author.avatar }}" class="bio-photo" alt="{{ author.name }} bio photo"/>
    {% elsif author.avatar %}
        <img src="{{ site.url }}/images/authors/{{ author.avatar }}" class="bio-photo" alt="{{ author.name }} bio photo"/>
    {% endif %}
    <span class="author vcard">Author: <a href={{author.web}}><span class="fn">{{ author.name }}</span></a></span>

    {% if page.editor %}
        <span class="author vcard">Editor: <a href={{editor.web}}><span class="fn">{{ editor.name }}</span></a></span>
    {% endif %}

    <span class="page-date date published"><time datetime="{{ page.date | date_to_xmlschema }}"><i class="fa fa-calendar-o"></i> {{ page.date | date: "%B %d, %Y" }}</time></span>
    {% if page.modified %}<span class="page-date date modified"><time datetime="{{ page.modified }}"><i class="fa fa-pencil"></i> {{ page.modified | date: "%B %d, %Y" }}</time></span>{% endif %}
    {% if site.owner.disqus-shortname and page.comments or site.comments %}<span class="page-comments"><i class="fa fa-comment-o"></i> <a href="#disqus_thread">Comment</a></span>{% endif %}
    {% if page.share %}{% include social-share.html %}{% endif %}
    {% if page.ads == true %}{% include ad-sidebar.html %}<!-- /.google-ads -->{% endif %}
</footer>
