/* Designed by WowThemes.net for Skynet Today, copyright Andrey Kurenkov */

html {
	font-size:16px;
}
body {
	padding-top:160px;
}
.wrapcontent {
	min-height:65vh;
}
.sticky-top {
	top:106px;
}
body,.font1 {
	font-family:Roboto, Helvetica;
}
iframe {
	max-width:100%;
}
.font2 {
	font-family:Playfair Display;
}
.font15 {
	font-size:15px;
}
h1,h2,h3,h4,h5,h6 {
	font-weight:700;
	color:#000;
}
a {
	text-decoration:none;
	color:#145592;
	transition:all .3s;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	-ms-transition:all .3s;
	-o-transition:all .3s;
}
a:hover {
	text-decoration:none;
	color: #006bcf;
	transition:all .3s;
}
.font500 {
	font-weight:500;
}
.lead {
	font-size:1.29rem;
}
.lh14 {
	line-height:1.6;
}
.ls05 {
	letter-spacing:.5px;
}
.mb-30 {
	margin-bottom:30px;
}
.max-400 {
	max-width:400px;
}
.bg-black {
	background:#0c0c0c;
}
.bg-ghost {
	background:#f4f4f4;
}
.text-black {
	color:#000;
}
.text-gray {
	color:#909194;
}
.jumbotron {
	margin-bottom:2.5rem;
	background-image:linear-gradient(315deg,#2d3436 0%,#151515 74%);
	background-image:linear-gradient(215deg,#40585f 0%,#000000 74%);
	margin-top:-62px;
}
.jumbotron h1 {
	font-size:2.3rem;
	font-weight: 700;
}
.link-with-line {
	display:inline-flex;
	flex-flow:row;
	align-items:center;
	margin-top:1.2rem;
}
.line {
	display:inline-block;
	height:2px;
	background:#1a9c90;
	content:" ";
	width:77px;
}
.line:after {
	content:'';
	display:block;
	background-color:#fff;
	width:0;
	height:2px;
	transition:width .3s;
}
.link-with-line a.readmore {
	display:inline-block;
	margin-left:15px;
}
.link-with-line:hover .line:after {
	width:100%;
	left:0;
}
.text-muted {
	opacity:.7;
	color:#000 !Important;
}
h1.display-4 {
	line-height:1.1;
	letter-spacing:-.5px;
}
.narrow {
	max-width:960px;
}
.narrower {
	max-width:700px;
	margin:0px auto;
}
.smaller {
	font-size:85%;
}
.page-header {
	max-width:960px;
}
.mb-2rem {
	margin-bottom:2rem;
}
.mt-4rem {
	margin-top:4rem;
}
h2.lead {
	line-height:1.5;
	margin-bottom:1rem;
}
.post-article {
	font-size:17.1px;
	font-weight:400;
	color:#000;
	line-height:30px;
}
.post-article p,.post-article figure,.post-article iframe,.page-feature-image,.image-credit,.content_vid {
	margin-bottom:1.5rem;
}

.post-article .podcast_embed {
	margin-bottom:0;
}

.post-article a,.footer-credits a,.footer-about a,.image-credit a {
	border-bottom:1px solid rgba(34,34,34,.3);
	color:inherit;
	text-decoration:none;
	transition:all .2s;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
}
.post-article blockquote {
	font-size:1.05rem;
	line-height:1.6em;
	position:relative;
	margin-left:3rem;
	border-left:2px solid;
	padding-left:20px;
	font-family:monospace;
	margin-bottom:1.5rem;
}
blockquote+h4,p+#markdown-toc,h4+figure {
	margin-top:2rem;
}
.post-article li {
	margin-bottom:.75rem;
}
h3+h4,p+iframe,h4+p {
	margin-top:1.5rem;
}
p+iframe {
	margin-top:1rem;
}
a.reversefootnote,a.footnote {
	border-bottom:0;
	color:#8605b7;
}
sup {
	margin-left: 3px;
}
sup:target:before {
	content:"";
	display:inline-block;
	height:140px;
	margin:-140px 0 0;
}
li:target p {
	display:inline-block;
}
li:target:before {
	content:"";
	display:inline-block;
	margin-top:100px;
}
sup:target a {
	background:#ffd63a;
	color:#000;
}
li:target p {
	background:#fff8dd;
}
figure.twitter-widget ~h2 {
	text-align:center;
}
.post-article a:hover,#markdown-toc a:hover, .image-credit a:hover {
	border-bottom:1px solid #000;
	transition:all .2s;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
}
.post-article hr {
	margin-top:1.5rem;
	margin-bottom:1.5rem;
}
figure+hr {
	margin-top:2rem !Important;
}
.post-article h1 {
	font-size:2.5rem;
}
.post-article h2 {
	font-size:1.75rem;
}
.post-article h3 {
	font-size:1.55rem;
}
.post-article h4 {
	font-size:1.35rem;
	line-height:1.6;
}
.post-article h1,.post-article h2,.post-article h3,.post-article h4.post-article h5,.post-article h6 {
	margin-bottom:.5em;
	margin-top:1em;
	font-weight:700;
	color:#000;
	letter-spacing:-.1px;
}
.post-article h1 {
	margin-top:0;
}
.post-article figcaption,.image-credit, .post-article img+em {
	opacity:.8;
	padding:5px 0;
	font-size:.9rem;
	margin-top:-1rem;
    line-height:1.4;
    font-style:normal;
}
.post-article img {
    margin-left:auto;
    margin-right:auto;
}
.post-article img+em {
    margin: 0px auto;
    margin-top:.5rem;
    display:block;
    text-align:center;
}
.post-article h2+figure {
	margin-top:1rem;
}
twitter-widget {
	margin:0px auto;
	margin-bottom:1.5rem;
}
twitter-widget+twitter-widget {
	margin-top:1.5rem;
}
figure {
	display:block;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	vertical-align:top;
	padding:0;
	width:100%;
}
figure img {
	margin-bottom:1.5rem;
}
figure iframe {
	width:100%;
}
figure img:last-child {
	margin-bottom:0;
}
iframe+figcaption {
	margin-top:-1.5rem !important;
}
p+figure {
	margin-top:2rem;
}
.footnotes {
	font-style:italic;
	font-size:85%;
	color:#555;
	line-height:1.45rem;
}
.footnotes p {
	margin-bottom:.5em;
}
#markdown-toc {
	list-style-type:upper-roman;
	font-size:15px;
	padding:0px 50px 15px;
	border:1px solid #1b1919;
}
#markdown-toc li {
	font-weight:700;
}
#markdown-toc li ul li {
	font-weight:400;
	list-style-type:decimal;
}
#markdown-toc a {
	border:0;
}
#markdown-toc::before {
	content:"Sections";
	background:#fff;
	color:#000;
	border-bottom:1px solid;
	padding:7px 25px;
	display:block;
	font-weight:700;
	font-size:18px;
	margin-left:-50px;
	margin-right:-50px;
	margin-bottom:25px;
}
#markdown-toc a+ul {
	margin-top:.65rem;
}
.bio-photo {
	border-radius:50%;
	width:55px;
}
span.page-comments {
	min-width:120px;
}
.borderall {
	border:1px solid #e5e5e5;
}
.border-top {
	border-top:1px solid #e5e5e5;
}
.border-bottom {
	border-bottom:1px solid #e5e5e5;
}
img {
	max-width:100%;
}
.navbar-brand {
	font-family:Playfair Display;
	font-size:1.5rem;
	padding:0;
	font-weight:700;
	line-height:1;
}
.site-name {
    font-family: Playfair Display; 
    font-weight: 700; 
    text-transform: uppercase;
}
.dropdown-menu {
	border:0;
	box-shadow:0 10px 20px rgba(0,0,0,0.11);
	min-width:250px;
	max-width:100%;
	font-size:14px;
	margin-bottom:20px;
}
.dropdown-item {
	color:rgba(0,0,0,1);
	padding:.7rem 1.5rem;
	font-weight:600;
}
.dropdown-menu h6 {
	padding-left:20px;
	padding-top:5px;
}
.display-5 {
	font-size:3rem;
	font-weight:300;
	line-height:1.2;
}
.display-6 {
	font-size:2.4rem;
	font-weight:300;
	line-height:1.2;
}
.bd-navbar {
	min-height:48px;
	box-shadow:0px 0px 1px rgba(0,0,0,0.2);
	-mox-box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
	padding:.7rem 1rem;
	transition:all .2s;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
}
.bd-navbar .navbar-nav .nav-link {
	padding-right:1.5rem;
	padding-left:1.5rem;
}
.navbar-light .navbar-nav .nav-link {
	font-weight:700;
	color:#000;
}
.bd-navbar .navbar-nav li:last-child a {
	padding-right:0;
}
.navbar-dark .navbar-nav .nav-link {
	color:rgba(255,255,255,.7);
}
.navbar-light .navbar-brand {
	color:#000;
}
.navbar-brand img {
	margin-top:-4px;
	margin-left:-8px;
	width:80px;
}
.site-title .descr {
	font-size:1.1rem;
}
.scrollednav .navbar-brand img {
	transition:all .2s;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
	width:50px;
}
.scrollednav .site-title {
	opacity:0;
}
.bd-navbar.scrollednav {
	transition:all .2s;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
}
.fancy-title {
	border-bottom:1px solid rgba(0,0,0,.125);
	padding-bottom:0rem;
	margin-bottom:1.5rem;
}
.fancy-title span {
	border-bottom:1px solid rgba(0,0,0,0.808);
	display:inline-block;
	padding-bottom:10px;
	margin-bottom:-1px;
	letter-spacing:.5px;
	color: #000;
}
.fitimage {
	max-width:100%;
	height:100%;
	object-fit:cover;
	width:100%;
}
.cardthumb {
	height:197px;
	object-fit:cover;
	width:100%;
	object-position:top;
}
.featured img {
	width:86px;
	height:86px;
	object-fit:cover;
}
.featured {
	margin-bottom:30px;
}
.featured:last-child {
	border-bottom:0;
}
.sep:last-child {
	display:none;
}
.cardrecent.oddloop .col-md-6:last-child {
	-webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.cardrecent.oddloop .col-md-6:last-child .cardthumb {
	height: 350px;
}


.themecard h1 {
	font-size:25px;
	color:#000;
	line-height:1.1;
	margin-bottom:1rem;
	position:relative;
}
.card-footer {
	padding-bottom: 20px;
	color:#495158;
}
.effect-underline {
	/* I don't know why this is needed,I just added it and it worked in IE Edge. If we remove this width,the gradient breaks in IE Edge */
	width:calc(100%);
	background-image:linear-gradient(transparent calc(100% - 2px),black 2px);
	background-repeat:no-repeat;
	background-size:0% 100%;
	transition:background-size 1s;
}
.themecard h1:hover .effect-underline,.featured h5:hover .effect-underline {
	background-size:100% 100%;
}
.themecard h2 {
	font-size:17px;
	font-weight:300;
}
.themecard a:hover {
	text-decoration:none;
}
.wrappagination {
	display:block;
	font-size:0.94rem;
	text-align:center;
	margin-bottom:0rem;
	color:#333;
}
.page-link {
	margin-top:-2px;
	padding:1rem;
	color:inherit;
	text-transform:uppercase;
	letter-spacing:.3px;
	font-weight:700;
}
.webjeda.page-link {
	border-top:2px solid #000 !Important;
	font-weight:700;
	color:#000;
}
.page-link:hover,.page-link,.page-item.disabled .page-link {
	background-color:transparent;
	border-color:transparent;
}
.page-link:active,.page-link:focus {
	border:0;
	outline:0;
}

.list-categories {
	font-size: 13px;
	margin-bottom:10px;
	line-height:1;
}
.list-categories .catstyle, .featured .catstyle {
	font-size:13px;
	font-weight:500;
	letter-spacing:0.4px
}
.featured .list-categories {
	margin-bottom:2px;
}
.list-categories .sep:last-child {
	display:none;
}
.list-categories a {
	display:inline-block;
	line-height:1.2;
	border-bottom:1px solid #fff;
	position:relative;
}
.list-categories a:hover {
	color:#000;
}
.list-categories a:after {
	background:none repeat scroll 0 0 transparent;
	bottom:0;
	content:"";
	display:block;
	height:1px;
	left:50%;
	position:absolute;
	background:#333;
	transition:width 0.3s ease 0s,left 0.3s ease 0s;
	width:0;
}
.list-categories a:hover:after {
	width:100%;
	left:0;
}
.tag-box a {
	padding:0px 7px 5px;
	background-color:#eee;
	border-radius:4px;
	text-decoration:none;
	color:#000;
	border-bottom:1px solid rgba(0,0,0,0.1);
	display:inline-block;
	font-size:13px;
	margin:0 3px 15px 0;
}
.tag-box a:hover {
	background:#eee;
	border-bottom:1px solid rgba(0,0,0,0.3);
}
.tag-box.inline li {
	font-size:.875rem;
	display:inline-block;
}
.tag-box {
	list-style:none;
	margin:0;
	padding:4px 0;
	overflow:hidden;
}
.tag-box a span {
	vertical-align:super;
	font-size:10px;
	font-size:.625rem;
	line-height:2.4;
	margin-bottom:24px;
	margin-bottom:1.5rem;
}

.thesidebar .tag-box li:nth-child(n+15) {
	display:none;
}
.thesidebar .tag-box a {
	margin-bottom:10px;
}
.post-list li {
	padding:8px 0;
	border-bottom:1px solid #ccc;
	border-bottom:1px solid rgba(0,0,0,0.1);
	line-height:1.3333333333;
	margin-bottom:0;
}
.post-list li:last-child {
	border-bottom:0;
}
/**Mailchimp**/
#mc_embed_signup {
	background:transparent !Important;
}
#mc_embed_signup input.email {
	width:100%;
	display:block;
	border:1px solid rgba(0,0,0,.5);
	padding:10px;
	margin-bottom:.7rem;
	border-radius:0;
}
#mc_embed_signup .button {
	background:#000;
	color:#fff;
	padding:10px;
	border:0;
	display:block;
	width:100%;
	cursor:poiner;
}
#mc_embed_signup .button:hover {
	cursor:pointer;
}
#mc_embed_signup {
	background: transparent;
}
/**Alertbar*/
#alertbar {opacity:0;}
.alertbar {
	transition:all .5s;
	position:fixed;
	bottom:0;
	left:0;
	background-color:#fff;
	width:100%;
	padding:15px 0;
	z-index:1;
	font-size:15px;
	margin-bottom:-100px;
	z-index:9999;
	-webkit-transition:all .5s;
	-moz-transition:all .5s;
	-ms-transition:all .5s;
	-o-transition:all .5s;
}
.alertbar.active {
	 margin-bottom:0;
	 -webkit-box-shadow:0 0 1px rgba(0,0,0,0.25);
	 box-shadow:0 0 1px rgba(0,0,0,0.25);
	 transition:all .5s;
	 -webkit-transition:all .5s;
	 -moz-transition:all .5s;
	 -ms-transition:all .5s;
	 -o-transition:all .5s;
}
.alertbar #mc_embed_signup form {
	display:inline;
	padding:0;
}
.alertbar #mc_embed_signup div {
	display:inline-block;
	clear:none;
}
.alertbar #mc_embed_signup input.email {
	width:200px;
	display:inline-block;
	margin-bottom:0;
	padding:4px 10px;
	margin-right:-4px;
}
.alertbar a.social-icon img {
	width:15px;
}
.alertbar #mc_embed_signup .button {
	border:1px solid #000;
	clear:none;
	background-color:#000;
	border-radius:0;
	margin:0;
	padding:4px 10px;
	line-height:unset;
	vertical-align:middle;
	font-size:inherit;
}
.closealert {
	width: 30px;
    height: 30px;
    border-radius: 50px;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    background: #eee;
    position: absolute;
	right: 20px;
	cursor: pointer;
}
.subscribe-footer {
	padding:60px;
	position:relative;
	background:#f5f5f5;
}
.subscribe-footer #mc_embed_signup form {
	padding:0;
}
.subscribe-footer #mc_embed_signup input.email {
	border:0px;
	display:block;
	margin-bottom:1.5rem;
	border-bottom:1px solid rgba(0,0,0,.5);
	background:transparent;
}
.subscribe-footer #mc_embed_signup .button {
	box-shadow:none;
	background:#000;
	color:#fff;
	width:100%;
	border-radius:0;
	height:42px;
}
.scrollup {
	width:40px;
	height:40px;
	position:fixed;
	bottom:70px;
	right:40px;
	font-size:19px;
	display:none;
	color:#333;
	cursor: pointer;
}
/*Social*/
a.social-icon {
	display:inline-block;
	margin-left:15px;
}
a.social-icon img {
	width:20px;
}
.clockicon {
	margin-top:-5px;
}
.prevtheme,.nexttheme {
	position:fixed;
	top:40%;
	color:#312f2f;
	width:37px;
	height:37px;
	line-height:37px;
	font-size:16px;
	transition:all 0.1s;
	overflow:hidden;
	border-radius:50%;
	text-align:center;
	color:#333;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	border:1px solid #ccc;
	right:15px;
	transition:all .2s;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
}
.nexttheme {
	top:calc(40% + 45px);
}
.prevtheme:hover,.nexttheme:hover {
	text-decoration:none;
		border:1px solid #333;
	color:#000;
	transition:all .2s;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
}
.btn-gradient {
	background-color:#7f53ac;
	background-image:linear-gradient(315deg,#7f53ac 0%,#647dee 74%);
	border:0;
}
.footer-credits {
	line-height:1.5;
	color:#999;
}
.firstcharacter {
	color:#111;
	float:left;
	font-family:Arial;
	font-size:75px;
	line-height:60px;
	padding-top:4px;
	padding-right:8px;
	padding-left:3px;
}
.widget {
	background:#fff;
	padding:20px 30px;
	margin-bottom:30px;
	font-size:14px;
	border:1px solid #eee;
}
.widget h5 {
	font-weight:300;
}
.widget ul li {
	list-style:none;
	padding-left:0;
	border-top:1px solid #eee;
	padding:7px 0;
}
.widget ul {
	padding-left:0;
}
.widget ul li:last-child {
	padding-bottom:0;
}
.btngithub {
	padding:0 10px;
	font-size:12px;
	background-color:#eff3f6;
	background-image:-webkit-linear-gradient(top,#fafbfc,#e4ebf0);
	background-image:-moz-linear-gradient(top,#fafbfc,#e4ebf0);
	background-image:linear-gradient(to bottom,#fafbfc,#e4ebf0);
	background-repeat:repeat-x;
	background-size:110% 110%;
	display:inline-block;
	font-weight:600;
	cursor:pointer;
	border:1px solid #d1d2d3;
	border-radius:0.25em;
	color:#24292d;
	margin-top:-20px;
	padding:4px 10px;
}
.bshadow {
	box-shadow:0 10px 20px rgba(0,0,0,0.2);
}
.btn-highlight {
	border-color:transparent;
}
.btngithub span {
	vertical-align:text-top;
	margin-top:-1px;
	display:inline-block;
}
.btngithub svg {
	vertical-align:text-top;
}
.btn-details {
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-37px;
}
.hoverbox {
	background:rgba(255,255,255,0.7);
	position:absolute;
	width:93.8%;
	height:62%;
	top:0;
	opacity:0;
	transition:all 0.2s;
	display:block;
}
.themecard:hover .hoverbox {
	opacity:1;
}
.authorbox:last-child {
	border-bottom: 1px solid #dee2e6;
}
.border-black {
	border:1px solid #000;
}
.text-black {
	color: #000;
}
.author-credit {
  margin-top: 0.5rem !important;
}
/*Share*/
#st-2 .st-btn {
	background:#222 !Important;
}
#st-2 .st-btn>svg {
	fill:#111 !Important;
}
#st-2 .st-total {
	color:#555 !Important;
}
.bmc-button {
	line-height:32px !important;
	height:37px !important;
	text-decoration:none !important;
	display:inline-flex !important;
	color:#FFFFFF !important;
	background-color:#19c755 !important;
	border-radius:30px !important;
	border:1px solid transparent !important;
	padding:1px 15px !important;
	box-shadow:0px 1px 2px rgba(190,190,190,0.5) !important;
	-webkit-box-shadow:0px 1px 2px 2px rgba(190,190,190,0.5) !important;
	margin:0 auto !important;
	box-sizing:border-box !important;
	-o-transition:0.3s all linear !important;
	-webkit-transition:0.3s all linear !important;
	-moz-transition:0.3s all linear !important;
	-ms-transition:0.3s all linear !important;
	transition:0.3s all linear !important;
}
@media (min-width:768px) and (max-width:1365px) {
	.container {
		max-width:90%;
	}
}
@media (max-width:1440px) {
	.site-title {
		font-size:1.4rem;
	}
	.site-title .descr {
		font-size:15px;
	}
	.display-5 {
		font-size:2.5rem;
	}
	.lh14 {
		line-height:1.4;
	}
	h5 {
		font-size:1.2rem;
	}
	.themecard h1 {
		font-size:22px;
		line-height:1.2;
	}
}
@media (max-width:1150px) {
	.bd-navbar .navbar-nav .nav-link {
		padding-right:1rem;
		padding-left:1rem;
	}
}
@media (max-width:1024px) {
	.alertbar {
		display:none !Important;
	}
}
@media (max-width:991px) {
	.navbar-nav {
		padding-top:1rem;
		margin-left:1.5rem;
	}
	.navbar-nav .nav-item {
		float:none;
	}
	.navbar-brand {
		float:right;
	}
	.navbar-brand,.navbar-nav .nav-item {
		display:block;
	}
	.navbar-nav .nav-item+.nav-item {
		margin-left:0;
	}
	.dropdown-menu {
		position:relative;
		float:none;
		box-shadow:none;
	}
	.bd-navbar .navbar-nav .nav-link {
		border-bottom:1px solid #e6e6e6;
		padding:10px 0;
	}
	.bd-navbar .navbar-nav li:last-child a {
		padding-right:0;
		border-bottom:0;
	}
	.dropdown-menu {
		margin-bottom:0;
	}
	a.dropdown-item {
		border-bottom:1px solid #e6e6e6;
		padding:10px 0;
		margin-left:20px;
	}
	.site-title .descr {
		font-size:15px;
	}
	.display-4,.display-5,.display-6,h1 {
		font-size:2rem;
	}
}
@media (max-width:768px) {
	.site-title {
		font-size:1.4rem;
	}
	.site-title .descr {
		font-size:15px;
	}
	.container {
		width:90%;
	}
	.navbar-brand img.logo {
		width:40px;
	}
	.scrollednav .navbar-brand img {
		height:auto;
	}
	.site-title {
		font-size:1.3rem;
	}
	.site-title .descr {
		font-size:13px;
	}
	body {
		padding-top:0;
	}
	.bd-navbar {
		padding:1rem 1rem;
		position:relative;
		margin-bottom:30px;
	}
	.jumbotron h1 {
		font-size:1.8rem;
	}
	.jumbotron .lead {
		font-size:1.1rem;
	}
	.jumbotron {
		margin-top:0px;
	}
	.post-article {
		line-height:1.5;
	}
	figure {
		width:100%;
	}
	.subscribe-footer {
		padding:20px;
		text-align:center;
		margin-bottom:1.5rem;
	}
	img.newsletter-logo {
		width:80px;
		margin-bottom:10px;
	}
	.text-center.page-head {
		text-align:left !Important;
	}
	.prevtheme,.nexttheme {
		position:relative;
		text-align:center;
		display:inline-block;
		margin:0px auto;
	}
	.navposts {
		margin-top:2rem;
		text-align:center;
	}
	.cardrecent .col-md-4 {
		margin-bottom:30px;
	}
	.cardrecent .col-md-4:last-child {
		margin-bottom:0;
	}
	.post-article blockquote {
		margin-left:1rem;
	}
	.post-head h4 {
		font-size:1.2rem;
	}
	.post-list li {
		font-size:15px;
		margin-bottom:15px;
		border-bottom:0;
	}
	.post-list .entry-date {
		margin-top:10px;
		text-align:left !Important;
	}
}
@media (max-width:320px) {
	.navbar-brand {
		color:#000;
		float:none;
		display:block !important;
	}
	.navbar-brand img {
		margin-top:-4px;
		margin-left:0;
		margin-bottom:5px;
	}
	.line {
		width:27px;
	}
}
@media (min-width:1600px) {
	.container {
	    max-width:1400px;
	}
	.wrapcontent {
		min-height:71vh;
	}
	.post-article {
		font-size:19.48px;
		line-height:34px;
	}
	.jumbotron h1 {
		font-size: 2.5rem;
	}
}

.postimagesmaller {
  width: 75%;
  display:block;
  margin-left:auto;
  margin-right:auto;
  height: auto;
}

.postimage_75 {
  width: 75%;
  display:block;
  height: auto;
  margin-left:auto;
  margin-right:auto;
}

.postimage_50 {
  width: 50%;
  display:block;
  height: auto;
  margin-left:auto;
  margin-right:auto;
}

.postimage_25 {
  width: 25%;
  display:block;
  height: auto;
  margin-left:auto;
  margin-right:auto;
}

.postimagehalf {
  width: 49%;
  height: auto;
  margin-left:auto;
  margin-right:auto;
  padding: 1%;
}

.postimagethird {
  width: 30%;
  height: auto;
  margin-left:auto;
  margin-right:auto;
  padding: 1%;
}

.postimagequarter {
  width: 24%;
  height: auto;
  margin-left:auto;
  margin-right:auto;
}

