/*Setup look of toggle button*/
.switch-field {
  width: 25%;
  min-width: 200px;
}

.switch-field label {
  width: 50%;
}

.switch-field label:first-of-type {
  width: 50%;
}

.switch-field label:last-of-type {
}
