---
layout: base
---

<div id="main" role="main">
  <article class="entry">
    {% if page.image.feature %}<img src="{{ site.url }}/images/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}" {% if site.logo == null %}style="margin-top:0;"{% endif %}>{% if page.image.credit %}<p class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></p>{% endif %}{% endif %}
    <div class="page-wrapper">
      <header class="page-header">
        <h1 class="page-title">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %}</h1>
      </header>
      <div class="page-content">
        {{ content }}
      </div><!-- /.page-content -->
    </div><!-- /.page-wrapper -->
  </article>
</div><!-- /#main -->
