---
layout: default
---

<div class="row justify-content-center">

    <div class="col-md-8">
      
      {% unless page.display_title == false %}  
        <div class="mb-2rem {% if page.center == true %} text-center {% endif %} page-head">
        <h1 class="mb-3">{{page.title}}</h1>      
        <h4 class="font-weight-light lh14">{{page.excerpt}}</h4>
        </div>
      {% endunless %}
      
      <div class="post-article inpage"> 
        {{ content }}  
      </div>    
    
    </div>
    
</div>