---
layout: base
---

<div id="main" role="main">
  <article class="entry">
    <div class="page-wrapper">
      <header class="page-header">
        <h3 class="page-title">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %}</h3>
		{% if page.excerpt %} <h4>{{ page.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</h4>{% endif %}
		  {% if page.image.feature %}<img src="{{ site.url }}/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}" {% if site.logo == null %}style="margin-top:0;"{% endif %}>{% if page.image.credit %}<p class="image-credit">Image credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></p>{% endif %}{% endif %}
      
        <ul class="page-tags">
          {% for tag in page.tags %}<li><a href="{{ site.url }}/tags#{{ tag }}" title="Pages tagged {{ tag }}">{{ tag }}</a></li>{% endfor %}
        </ul>
      </header>
      <footer class="page-meta">
        {% if page.author %}
          {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
        {% endif %}
        {% if page.editor %}
          {% assign editor = site.data.authors[page.editor] %}{% else %}{% assign editor = blank %}
        {% endif %}
        {% if author.avatar contains 'http' %}
          <img src="{{ author.avatar }}" class="bio-photo" alt="{{ author.name }} bio photo"/>
        {% elsif author.avatar %}
          <img src="{{ site.url }}/images/{{ author.avatar }}" class="bio-photo" alt="{{ author.name }} bio photo"/>
        {% endif %}
        <span class="author vcard">Author: <a href={{author.web}}><span class="fn">{{ author.name }}</span></a></span>

        {% if page.editor %}
        <span class="author vcard">Editor: <a href={{editor.web}}><span class="fn">{{ editor.name }}</span></a></span>
        {% endif %}

        <span class="page-date date published"><time datetime="{{ page.date | date_to_xmlschema }}"><i class="fa fa-calendar-o"></i> {{ page.date | date: "%B %d, %Y" }}</time></span>
        {% if page.modified %}<span class="page-date date modified"><time datetime="{{ page.modified }}"><i class="fa fa-pencil"></i> {{ page.modified | date: "%B %d, %Y" }}</time></span>{% endif %}
        {% if site.owner.disqus-shortname and page.comments or site.comments %}<span class="page-comments"><i class="fa fa-comment-o"></i> <a href="#disqus_thread">Comment</a></span>{% endif %}
        {% if page.share %}{% include social-share.html %}{% endif %}
        {% if page.ads == true %}{% include ad-sidebar.html %}<!-- /.google-ads -->{% endif %}
      </footer>
      <div class="page-content">
        {{ content }}
        {% include mailchimp-sign-up.html %}
        <nav class="pagination" role="navigation">
          {% if page.previous %}
            <a href="{{ site.url }}{{ page.previous.url }}" class="btn" title="{{ page.previous.title }}">Previous</a>
          {% endif %}
          {% if page.next %}
            <a href="{{ site.url }}{{ page.next.url }}" class="btn" title="{{ page.next.title }}">Next</a>
          {% endif %}
        </nav><!-- /.pagination -->
        {% if site.owner.disqus-shortname and page.comments or site.comments %}
          <div id="disqus_thread"></div><!-- /#disqus_thread -->
          {% include disqus-comments.html %}
        {% endif %}
      </div><!-- /.page-content -->
    </div><!-- /.page-wrapper -->
  </article>
</div><!-- /#main -->
