---
layout: page
---
<form class="form" id="writingToggleForm">
  <div class="switch-field">
    <!--   <div class="switch-title">Display Type</div> -->
    <input type="radio" id="switch_news" name="switch" value="yes" checked data-st-contentid="#news"/>
    <label for="switch_news">News</label>
    <input type="radio" id="switch_editorials" name="switch" value="no" data-st-contentid="#editorials"/>
    <label for="switch_editorials">Editorials</label>
    <input type="radio" id="switch_newsletter" name="switch" value="no" data-st-contentid="#newsletter"/>
    <label for="switch_newsletter">Newsletter</label>
  </div>
</form>
<div id='news'>
  <ul class="post-list"> 
    {% for post in site.categories.news %} 
      {% include entry.html %}
    {% endfor %}
  </ul>
</div>
<div id='editorials' style="display:none">
  <ul class="post-list"> 
    {% for post in site.categories.editorials %} 
      {% include entry.html %}
    {% endfor %}
  </ul>
</div>
<div id='newsletter' style="display:none">
  <!--<ul class="post-list">
    {% for post in site.categories.newsletters %}
      {% include entry.html %}
    {% endfor %}
  </ul>-->
</div>
