---
layout: default
---

<div class="row">
<div class="col-md-12 mb-4">
    <h1 class="text-black">{{page.title}}</h1>
    <h4 class="font-weight-light">{{page.description}} | <b><a href="https://lastweekin.ai/subscribe">Subscribe here!</a></b></h4>
    
</div>
</div>

<div class="row">

    <div class="col-md-8">

        <h6 class="font1 fancy-title text-uppercase">
            <span>{{ page.title }}</span>
        </h6>          

        <div class="row mt-3 cardrecent">            
                {% for post in site.posts %}
                {% if post.categories contains page.slug %}
                <div class="col-md-6 mb-30">                    
                    {% include themecard.html %}                    
                </div>     
                {% endif %}       
            {% endfor %}            
        </div>
        
    </div>
    
    <div class="col-md-4">
        {% include sidebar.html %}
    </div>
</div>


